.DS_Store
creative-analysis.xlsx
fars-dashboard/
feed.txt
wavebone.xlsx

# Ignore all creatives except those referenced by the dashboard
creatives/*
!creatives/260119-wavebone-物料demo/
!creatives/260122物料/
!creatives/260203/

creatives/260119-wavebone-物料demo/*
!creatives/260119-wavebone-物料demo/视频/
!creatives/260119-wavebone-物料demo/图片/

creatives/260119-wavebone-物料demo/视频/*
!creatives/260119-wavebone-物料demo/视频/260115-wavebone-ai动画-标注线(1).mp4

creatives/260119-wavebone-物料demo/图片/*
!creatives/260119-wavebone-物料demo/图片/ab对比/
!creatives/260119-wavebone-物料demo/图片/标注类/

creatives/260119-wavebone-物料demo/图片/ab对比/*
!creatives/260119-wavebone-物料demo/图片/ab对比/2.png
!creatives/260119-wavebone-物料demo/图片/ab对比/Wavebone_Comparison_Design_2_Square_Brightened.png

creatives/260119-wavebone-物料demo/图片/标注类/*
!creatives/260119-wavebone-物料demo/图片/标注类/1.png
!creatives/260119-wavebone-物料demo/图片/标注类/3.png

creatives/260122物料/*
!creatives/260122物料/Workstation-新物料/

creatives/260122物料/Workstation-新物料/*
!creatives/260122物料/Workstation-新物料/P1-加局部特写版.png

creatives/260203/*
!creatives/260203/260202-wavebone.mp4
